* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HOME - Matcha Header*/

main{
    background-color: #fdfdfd;

}
header {
    background-color: #94b86c;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.header ,h2 {
    font-style: italic;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    font-family: sans-serif;
}

nav {
    margin: 0px;
    padding: 10px;
}

/* Code adapted from GreeksforGreek, 2024 */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333e2764;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fdfdfd;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #dcdcdc48;
}

/* End of Adapted code */

.float-layout .float-img {
    float: left;
    margin: 0 0 1rem 0;
    width: 30%;
}

.float {
    padding-top: 2rem;
    margin-bottom: 0;
    font-size: 17px;
}


.Roles-layout {
    font-size: 17px;
    text-align: Center;
    padding-top: 2rem;
}

.Brands {
   text-align: center;
   padding: 1rem;
   font-size: 17px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background: #333e27;
    padding: 1rem;
    margin: 0rem 0;
    gap: 1rem;
}

.flex-item {
    background: #333e27;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    color: #fdfdfd;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

.flex-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}



